# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Logs
*.log

# Archives and backups
*.bak
*.tar.gz
*.zip

# System junk
.DS_Store
Thumbs.db

# Credentials (NEVER COMMIT THESE)
*.pem
*.key
*.crt
*.env
.my.cnf

# Editor & OS metadata
*.swp
*.swo
.vscode/
.idea/

*.sql

# Terraform local cache/state
**/.terraform/
*.tfstate
*.tfstate.*
crash.log
crash.*.log
*.tfvars
*.tfvars.json
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraformrc
terraform.rc
terraform/envs/dev/terraform.tfvars
terraform/envs/dev/tfplan
